apiVersion: apiextensions.k8s.io/v1beta1
kind: CustomResourceDefinition
metadata:
  name: endpoints.algo.run
spec:
  group: algo.run
  names:
    kind: Endpoint
    listKind: EndpointList
    plural: endpoints
    singular: endpoint
  scope: Namespaced
  subresources:
    status: {}
  validation:
    openAPIV3Schema:
      properties:
        apiVersion:
          description: 'APIVersion defines the versioned schema of this representation
            of an object. Servers should convert recognized schemas to the latest
            internal value, and may reject unrecognized values. More info: https://git.k8s.io/community/contributors/devel/api-conventions.md#resources'
          type: string
        kind:
          description: 'Kind is a string value representing the REST resource this
            object represents. Servers may infer this from the endpoint the client
            submits requests to. Cannot be updated. In CamelCase. More info: https://git.k8s.io/community/contributors/devel/api-conventions.md#types-kinds'
          type: string
        metadata:
          type: object
        spec:
          properties:
            algoRunnerImage:
              type: string
            algoRunnerImageTag:
              type: string
            commandTopic:
              type: string
            endpointConfig:
              properties:
                algoConfigs:
                  items:
                    properties:
                      algoIndex:
                        format: int32
                        type: integer
                      algoName:
                        type: string
                      algoOwnerUserName:
                        type: string
                      algoParams:
                        items:
                          properties:
                            dataType:
                              properties:
                                mask:
                                  type: string
                                name:
                                  type: string
                                precision:
                                  format: int32
                                  type: integer
                                regex:
                                  type: string
                                scale:
                                  format: int32
                                  type: integer
                              required:
                              - name
                              type: object
                            description:
                              type: string
                            name:
                              type: string
                            options:
                              items:
                                properties:
                                  name:
                                    type: string
                                type: object
                              type: array
                            sortOrder:
                              format: int32
                              type: integer
                            value:
                              type: string
                          required:
                          - name
                          type: object
                        type: array
                      algoVersionTag:
                        type: string
                      applied:
                        type: boolean
                      autoScale:
                        type: boolean
                      autoScaleCPUPercent:
                        format: int32
                        type: integer
                      cpuLimitUnits:
                        format: double
                        type: number
                      cpuRequestUnits:
                        format: double
                        type: number
                      deploymentName:
                        type: string
                      entrypoint:
                        type: string
                      gpuEnabled:
                        type: boolean
                      gpuLimitUnits:
                        format: double
                        type: number
                      imageRepository:
                        type: string
                      imageTag:
                        type: string
                      inputs:
                        items:
                          properties:
                            description:
                              type: string
                            environmentVariable:
                              type: string
                            httpHeaders:
                              type: string
                            httpPath:
                              type: string
                            httpPort:
                              format: int32
                              type: integer
                            httpVerb:
                              type: string
                            inputDeliveryType:
                              type: string
                            isRequired:
                              type: boolean
                            mediaTypes:
                              items:
                                properties:
                                  encoding:
                                    type: string
                                  fileExtension:
                                    type: string
                                  groupName:
                                    type: string
                                  name:
                                    type: string
                                  rfc:
                                    type: string
                                  rfcUrl:
                                    type: string
                                  subTypeName:
                                    type: string
                                  title:
                                    type: string
                                  url:
                                    type: string
                                type: object
                              type: array
                            name:
                              type: string
                            parameter:
                              type: string
                            parameterDelimiter:
                              type: string
                          required:
                          - name
                          - isRequired
                          - inputDeliveryType
                          - mediaTypes
                          type: object
                        type: array
                      instances:
                        format: int32
                        type: integer
                      maxInstances:
                        format: int32
                        type: integer
                      memoryLimitBytes:
                        format: int64
                        type: integer
                      memoryRequestBytes:
                        format: int64
                        type: integer
                      minInstances:
                        format: int32
                        type: integer
                      outputs:
                        items:
                          properties:
                            description:
                              type: string
                            mediaType:
                              properties:
                                encoding:
                                  type: string
                                fileExtension:
                                  type: string
                                groupName:
                                  type: string
                                name:
                                  type: string
                                rfc:
                                  type: string
                                rfcUrl:
                                  type: string
                                subTypeName:
                                  type: string
                                title:
                                  type: string
                                url:
                                  type: string
                              type: object
                            name:
                              type: string
                            outputDeliveryType:
                              type: string
                            parameter:
                              type: string
                          required:
                          - name
                          - outputDeliveryType
                          - mediaType
                          type: object
                        type: array
                      serverType:
                        type: string
                      timeoutSeconds:
                        format: int32
                        type: integer
                      writeAllOutputs:
                        type: boolean
                    type: object
                  type: array
                endpointName:
                  type: string
                endpointOwnerUserName:
                  type: string
                pipelineName:
                  type: string
                pipelineOwnerUserName:
                  type: string
                pipelineVersionTag:
                  type: string
                pipes:
                  items:
                    properties:
                      destAlgoIndex:
                        format: int32
                        type: integer
                      destAlgoInputName:
                        type: string
                      destAlgoName:
                        type: string
                      destAlgoOwnerName:
                        type: string
                      pipeType:
                        type: string
                      pipelineDataSinkIndex:
                        format: int32
                        type: integer
                      pipelineDataSinkName:
                        type: string
                      pipelineDataSourceIndex:
                        format: int32
                        type: integer
                      pipelineDataSourceName:
                        type: string
                      pipelineEndpointConnectorOutputName:
                        type: string
                      sourceAlgoIndex:
                        format: int32
                        type: integer
                      sourceAlgoName:
                        type: string
                      sourceAlgoOutputMessageDataType:
                        type: string
                      sourceAlgoOutputName:
                        type: string
                      sourceAlgoOwnerName:
                        type: string
                    type: object
                  type: array
                topicConfigs:
                  items:
                    properties:
                      algoIndex:
                        format: int32
                        type: integer
                      algoName:
                        type: string
                      algoOutputName:
                        type: string
                      algoOwnerName:
                        type: string
                      endpointConnectorOutputName:
                        type: string
                      pipeType:
                        type: string
                      pipelineDataSourceIndex:
                        format: int32
                        type: integer
                      pipelineDataSourceName:
                        type: string
                      topicAutoName:
                        type: boolean
                      topicAutoPartition:
                        type: boolean
                      topicName:
                        type: string
                      topicParams:
                        items:
                          properties:
                            name:
                              type: string
                            value:
                              type: string
                          type: object
                        type: array
                      topicPartitions:
                        format: int32
                        type: integer
                      topicReplicationFactor:
                        format: int32
                        type: integer
                    type: object
                  type: array
              type: object
            imagePullPolicy:
              type: string
            inCluster:
              type: boolean
            kafkaBrokers:
              type: string
            livenessInitialDelaySeconds:
              format: int32
              type: integer
            livenessPeriodSeconds:
              format: int32
              type: integer
            livenessTimeoutSeconds:
              format: int32
              type: integer
            logTopic:
              type: string
            namespace:
              type: string
            readinessInitialDelaySeconds:
              format: int32
              type: integer
            readinessPeriodSeconds:
              format: int32
              type: integer
            readinessTimeoutSeconds:
              format: int32
              type: integer
          type: object
        status:
          properties:
            algoDeploymentStatuses:
              items:
                properties:
                  algoIndex:
                    format: int32
                    type: integer
                  algoName:
                    type: string
                  algoOwnerName:
                    type: string
                  algoVersionTag:
                    type: string
                  available:
                    format: int32
                    type: integer
                  createdTimestamp:
                    type: string
                  current:
                    format: int32
                    type: integer
                  desired:
                    format: int32
                    type: integer
                  endpointName:
                    type: string
                  endpointOwnerUserName:
                    type: string
                  name:
                    type: string
                  ready:
                    format: int32
                    type: integer
                  upToDate:
                    format: int32
                    type: integer
                type: object
              type: array
            algoPodStatuses:
              items:
                properties:
                  algoIndex:
                    format: int32
                    type: integer
                  algoName:
                    type: string
                  algoOwnerName:
                    type: string
                  algoVersionTag:
                    type: string
                  containerStatuses:
                    items:
                      type: object
                    type: array
                  createdTimestamp:
                    type: string
                  endpointName:
                    type: string
                  endpointOwnerUserName:
                    type: string
                  ip:
                    type: string
                  name:
                    type: string
                  node:
                    type: string
                  restarts:
                    format: int32
                    type: integer
                  status:
                    type: string
                type: object
              type: array
            status:
              type: string
          type: object
  version: v1alpha1
  versions:
  - name: v1alpha1
    served: true
    storage: true
